{{#if searchPage}}
    <p class="errorPara">{{code}}: {{description}}</p>
    <a class="errorRedirect" href="/">Make another search</a>
{{else}}
    <p class="errorPara">{{code}}: {{description}}</p>
 
{{/if}}
